<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Kiss and Tell</a></h1>
      </li>
      <lu class="toggle-topbar menu-icon"><span><a href="#">Menu</a></span></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Sign Up", new_user_registration_url %></li>
        <li><%= link_to "Log In", new_user_session_url%></li>
      </ul>
    </section>
  </nav>
</div>